<nav class="navbar navbar-default navbar-inverse" style="border-radius: 0px">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar brand" href="#"></a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/users/home">Home</a></li>
			<li><a href="#">Window</a></li>
			<li><a href="/users/availableUsers">Users</a></li>
			<li><a href="#">ChatBox</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/users/login">Login</a></li>
			<li><a href="/users/signup">Signup</a></li>
			<li><a href="/users/logout">Logout</a></li>
		</ul>
	</div>
</nav>