<div id="sidebar" class="sidenav">
	<a link="#" onclick="closenav()" class="closebtn" >x</a>
	<ul id="userslist"></ul>
</div>

<script>
	function opennav(){
		
		document.getElementById('sidebar').style.width = '250px';
	}

	function closenav(){
		document.getElementById('main').style.marginLeft = '0px';
		document.getElementById('sidebar').style.width = '0px';
	}
</script>