<!DOCTYPE html>
<html>
<head>
	<title>Window</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/window.css">
</head>
<body>
	<div id="header"></div>
	<div id = "posts">
		<ul id="postContainer"></ul>
	</div>
</body>
</html>