input {
    border: 2px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 10px;
}

.form-wrapper {
    background: white;
    display: inline-block;
    padding: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
    margin-top: 20%;
}

body {
    background-color: black;
    text-align: center;
}
